*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('snow.jpg');
    min-height: 100vh;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

h1{
    font-size: 4rem;
    margin-bottom: 26px;
}

.countdown-timer{
    display: flex;
    flex-direction: row;
    font-size: 17px;
}

.big-text{
    font-weight: bolder;
    font-size: 4rem;
    margin: 0 3rem;
}

.countdown-el{
    text-align: center;
}

.countdown-el span{
    font-size: 2rem;
}

@media screen and (max-width:600px) {
    
    h1{
        font-size: 2rem;
    }

    .big-text{
        font-size: 1.5rem;
        margin: 0 1.7rem;
    }

    .countdown-el span{
        font-size: 1.5rem;
    }

   #sec{
       margin-left: 10px;
   }
}